/* body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
} */
h1{
    text-align: center;
    font-size: 40px;
    color: #22584b;
}
.container {
    width: 70%;
    margin: 50px;
    margin-left:280px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.form-table th, .form-table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}
.form-table th {
    background-color: #22584b;
    color: #ffffff;
}
.form-table td {
    background-color: #f0f4f7;
}
.form-table input[type="text"], .form-table input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-table input[type="radio"] {
    margin-right: 10px;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
}
.form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2b6b5c;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 130px;
    height: 150;
    font-size: 15px;
}
.form-buttons button:hover {
    background-color: #2b6b5c;
}

